<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">


    <div class="login-container bg-gray">
      <div class="row g-0 vh-100">
          <div class="col-md-8 bg-image d-none d-md-block login_page">

          </div>
          <div class="col-md-4 d-flex align-items-center px-5">
              <div class="formBox level-login d-flex align-items-center justify-content-center shadow-none w-100">
                  <div class="box boxShaddow"></div>
                  <div class="box loginBox shadow-none w-100">
                      <h3 style="text-align:center;">
                          <img src="../../../../assets/images/img/logo.png">
                      </h3>
                      <form [formGroup]="registerForm" (ngSubmit)="registerUser()" class="m-t-30 d-flex flex-column gap-3 px-5">


                        <div appearance="outline" class="w-100" color="primary border">
                          <input matInput formControlName="username" name="username" required placeholder="Enter Username" class="border rounded p-2 shadow-sm w-100" />
                        </div>

                        <div appearance="outline" class="w-100" color="primary border">
                          <input matInput formControlName="email" name="email" required placeholder="Enter email" class="border rounded p-2 shadow-sm w-100" />
                        </div>


                        <div appearance="outline" class="w-100" color="primary border">
                          <input matInput formControlName="pwd" name="pwd" type="password" placeholder="Enter Password" required class="border rounded p-2 shadow-sm w-100" />
                        </div>


                        <button  color="primary" class="btn btn-primary w-100 shadow-sm p-2 mt-2" type="submit">
                          Register
                        </button>
                        <div class="f_link text-center">
                          <a href="#" class="resetTag me-2">Alrady have account?</a>
                          <a href="/authentication/login" class="resetTag">Login</a>
                      </div>
                      </form>
                  </div>

          </div>
          </div>
      </div>
  </div>
  </div>
</div>
