

<input type="checkbox" id="menu_active" [checked]="showToggleIcon" />
<div id="wrapper" class="active">
  <div id="menu">
    <img src="../../../../assets/images/img/logo.png" alt="" class="img-fluid d-flex m-auto mt-3" *ngIf='!showToggleIcon' style="height: 80px;">
      <img src="../../../../assets/images/img/toggleIcon.png" alt="" class="img-fluid pt-4 pb-2" *ngIf='showToggleIcon' style=" margin-left: 86%;">
    <!-- <span id="site-name">
      <label for="menu_active">
        <i class="fa fa-bars"></i>
        <i class="fa fa-arrow-left"></i>
      </label>
    </span> -->
    <ul class="">

      <a href="">
        <li class="sb-menu ps-2 pe-2">Home<i class="fa fa-home ps-3"></i>
        <div class="sb-submenu">
          <div class="sb-item">  <a [routerLink]="['/dashboard']">Dashboard</a>
          </div>
        </div>
      </li>
      </a>
      <a href="">
        <li class="sb-menu ps-2 pe-2">Masters<i class="fa fa-user-shield fs-5 ps-3"></i>
          <div class="sb-submenu">
            <div class="sb-item"><a [routerLink]="['/ui-components/materialGroup']">Material Group</a></div>
            <div class="sb-item">
              <a [routerLink]="['/ui-components/materialName']" >Material Name</a>
            </div>
          </div>
        </li>
      </a>

      <a [routerLink]="['/ui-components/inventory']">
        <li class="sb-menu ps-2 pe-2">Inventory<i class="fa fa-user-shield fs-5 ps-3"></i>
          <!-- <div class="sb-submenu">
            <div class="sb-item">
              <a [routerLink]="['/ui-components/inventory']" >Inventory</a>
            </div>
          </div> -->
        </li>
      </a>
      <a href="">
        <li class="sb-menu ps-2 pe-2">Stock<i class="fa fa-user-shield fs-5 ps-3"></i>
          <div class="sb-submenu">

            <div class="sb-item">
              <a [routerLink]="['/ui-components/initialStock']" >Initial Stocks</a>
            </div>
            <div class="sb-item">
              <a [routerLink]="['/ui-components/stocks']" >Stock Report</a>
            </div>
          </div>
        </li>
      </a>
    </ul>
  </div>
</div>
