<div mat-subheader *ngIf="item.navCap" class="nav-caption" (click)="toggleExpand(item)">
  {{ item.navCap }}
</div>
<div *ngIf="isExpanded"
>
  <a *ngFor="let itemnew of item.new"
  mat-list-item
  (click)="onItemSelected(itemnew)"
  [ngClass]="{
    'mat-toolbar mat-primary activeMenu': itemnew.route
      ? router.isActive(itemnew.route, true)
      : false,
  }"
  class="menu-list-item"
>

  <i-tabler
    class="routeIcon text-white"
    name="{{ itemnew.iconName }}"
    matListItemIcon
  ></i-tabler>
  <span class="hide-menu" class="text-white">{{ itemnew.displayName }} </span>

</a>
</div>
