body{
  background-color: #ebeff3 !important;
  font-size: 14px !important;
}
html .topbar {
  background-color: $toolbar;
  position: sticky;
  top: 0;
  z-index: 9;
  height: $header-height;
  padding: 0 16px !important;
}

.topbar-dd {
  min-width: 200px !important;
}

.object-cover {
  object-fit: cover;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.dt-search input{
  width: 90px !important;
  border: 1px solid gray;
  border-radius: 6px;
}
.dt-search input:focus{
  width: 140px !important;
  border: 1px solid gray;
  outline: none;

}

.table-container .heading{
  font-weight: 700 !important;

}

.table-bordered{
  border: 1px solid #ddd !important;
}
.mat-mdc-row, .mat-mdc-header-row
{
  font-size: 14px !important;
  height: auto !important;
}
.mdc-data-table__cell
{
  padding: 8px 12px !important;
}
.mdc-data-table__header-cell{
  padding:9px 12px !important;
}

.cdk-overlay-pane.mat-mdc-dialog-panel{
  width: 20vw !important;
}
.mat-mdc-dialog-container .mdc-dialog__title{
  font-size: 14px !important;
  line-height: normal !important;
}
.mdc-dialog__surface{
  padding: 10px 18px !important
}
.mdc-dialog__title::before{
  height: auto !important;
}
.ch_button{
  background-color: #ca1d24 !important;
  color: #fff !important;
  border-radius: 5px !important;
  border: none !important;
}
.ch_button:hover{
  background-color: #ca1d23d7 !important;
}
.table-heading{
  font-size: 20px !important;
}


@media screen and (max-width: 768px){
  .dt-search input:focus{
    width: 90px !important;

  }
  .mat-mdc-paginator-container{
    padding: 12px 0px 0px 0px !important;
  }
  .mat-drawer[style*="visibility: hidden"] {
    display: block !important;
}
  .mat-drawer{
    visibility: visible !important;
  }
  .mat-drawer{
    // width: 100% !important;
    // left: 272px !important;
    transform: translate3d(0%, 0, 0) !important;
}
#wrapper{
  padding-left: 318px !important;
}
#menu{
  width: 184px !important;
}
  #menu{
    position: fixed;
    top: 0;
    left: 0 !important;
    bottom: 0;
    width: 184px !important;
    background-color: #1f1f1f;
    transition: all 1s;
  }
  #menu_active:checked + #wrapper {
    padding-left: 44px !important;
    transition: all 1s;
}
  #menu_active:checked + #wrapper #menu {
    left: -148px !important;
    transition: all 1s;
}
.side-fav{
  margin-left: 79% !important;
}
  // .table-heading{
  //   font-size: 16px !important;
  // }
}
