<div class="d-flex flex-column flex-md-row container-fluid gap-2 p-0">
  <div class="col-2 d-flex flex-column pe-0">
  <div class="d-flex justify-content-center align-items-center">
    <div class="form-check me-3">
      <input
        type="radio"
        id="form1Radio"
        name="formToggle"
        class="form-check-input"
        [(ngModel)]="formType"
        value="form1"
      />
      <label class="form-check-label" for="form1Radio">Form</label>
    </div>
    <div class="form-check">
      <input
        type="radio"
        id="form2Radio"
        name="formToggle"
        class="form-check-input"
        [(ngModel)]="formType"
        value="form2"
      />
      <label class="form-check-label" for="form2Radio">Upload</label>
    </div>
  </div>
  <div class="col-12 p-0">




  <div
    class="col-md-12 col-xl-12 col-sm-12 col-12 bg-body card pe-0 mt-2 mt-md-4"  *ngIf="formType === 'form1'"
  >
    <form [formGroup]="materialName" (ngSubmit)="createMaterialName()" class="py-3 px-2"   >
      <div class="align-items-center">
        <div class="row gy-3">
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <div class="form-box">
              <label class="form-check-label mb-2">Material Group</label>
              <select
                id="materialgroup"
                name="materialgroup"
                class="form-select"
                formControlName="materialgroup"
              >
                <option value="">Select Material Group</option>

                <option *ngFor="let group of materialGroups" [value]="group.id">
                  {{ group.group_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <div class="form-box">
              <label class="form-check-label mb-2">Material Name</label>
              <input
                type="text"
                id="materialname"
                name="materialname"
                class="form-control px-0"
                formControlName="materialname"
                placeholder=" Enter Material Name"
              />
            </div>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <div class="form-box">
              <label class="form-check-label mb-2">UOM</label>

              <select
                id="uom"
                name="uom"
                class="form-select"
                formControlName="uom"
              >
                <option value="">Select UOM</option>

                <option *ngFor="let item of uomList" [value]="item.id">
                  {{ item.material_unit }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-xl-12 col-md-12 col-sm-12 col-12 ">
            <div class="form-box">
              <label class="form-check-label mb-2">Description</label>
              <input
                type="text"
                id="des"
                name="des"
                class="form-control px-0"
                formControlName="des"
                placeholder=" Enter Description"
              />
            </div>
          </div>
        </div>




        <div class="d-flex">
          <div class="submit-btn pt-4" *ngIf="!isUpdating">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>

          <div class="submit-btn pt-4" *ngIf="isUpdating">
              <button type="button" class="btn btn-primary" (click)="onUpdate()">Update</button>
          </div>

          <div class="submit-btn pt-4 ms-2">
              <button type="button" class="btn btn-primary" (click)="resetForm()">Reset</button>
          </div>
      </div>





      </div>
    </form>


  </div>

  <div
  class="col-md-12 col-xl-12 col-sm-12 col-12 bg-body card pe-0 mt-2 mt-md-4"   *ngIf="formType === 'form2'"
>
<form  #uploadForm="ngForm" (ngSubmit)="uploadSubmit()" class="py-3 px-2"
>
  <div class="form-group">
    <label for="fileUpload" class="form-label fw-bold">Upload CSV File</label>
    <input
      type="file"
      id="fileUpload"
      class="form-control"
      #fileInput
      (change)="onFileChange($event)"
      accept=".csv"
      required
    />
  </div>

  <button type="submit"  class="btn btn-primary mt-3" >Upload</button>
</form>


</div>
</div>
</div>



  <div
    class="col-md-10 col-xl-10 col-sm-12 col-12  bg-body card ps-0 mt-5"
  >



  <!-- <form [formGroup]="filterForm" >
    <div class="row">

      <div class="col-md-3">
        <div class="form-box">
          <label class="form-check-label mb-2">Material Name</label>
          <select formControlName="materialName" class="form-select">
            <option value="">Select Material</option>
            <option *ngFor="let material of paginatedData" [value]="material.id">
              {{ material.material_name }}
            </option>
          </select>
        </div>
      </div>


      <div class="col-md-3 d-flex align-items-center">
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>

    </div>


  </form> -->


    <div class="tablewrapper p-3">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>Material Group</th>
            <th>Material Name</th>
            <th>UOM</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of paginatedData">
          <tr>
            <td
              (click)="updateMaterialName(item)"
              style="color: blue; font-weight: 600; cursor: pointer"
            >
              {{ item.id }}
            </td>
            <td>{{ item.group_name }}</td>
            <td>{{ item.material_name }}</td>
            <td>{{ item.material_unit}}</td>
            <td style="cursor: pointer; color: red; font-weight: 600" (click)="deleteMaterialName(item)">
              Delete
            </td>
          </tr>
        </tbody>
      </table>





      <div class="pagination-controls">
        <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span class="mx-3">Page {{ currentPage }} of {{ totalPages }}</span>
        <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage >= totalPages">Next</button>
      </div>




      <!-- <div class="text-center py-2"> No Items Found </div> -->
    </div>
  </div>
</div>
