<div class="container-fluid p-0">
    <div class="d-flex flex-column flex-md-row justify-content-end">
        <div class="col-md-2 col-xl-3 col-sm-12 col-12 pe-md-4 shadow-sm p-3 mb-3 bg-body rounded">
                <div class="d-flex justify-content-between align-items-center gap-3">
                    <div class="">
                        <div class="form-box d-flex">
                            <input class="form-check-input me-2" type="radio" name="inventory" id="inward"
                                [value]="'inward'" [(ngModel)]="selectedOption" (change)="onSelectionChange('inward')">
                            <label class="form-check-label" for="inward">
                                Inward
                            </label>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-box d-flex">
                            <input class="form-check-input me-2" type="radio" name="inventory" id="outward"
                                [value]="'outward'" [(ngModel)]="selectedOption"
                                (change)="onSelectionChange('outward')">
                            <label class="form-check-label" for="outward">
                                Outward
                            </label>
                        </div>
                    </div>
                </div>

        </div>
    </div>
    <!-- Conditional rendering based on the selectedOption value -->
    <app-inwardstock *ngIf="selectedOption === 'inward'"></app-inwardstock>
    <app-outwardstock *ngIf="selectedOption === 'outward'"></app-outwardstock>

</div>
