<!-- initial-stock.component.html -->
<div class="container">
  <h1 class="my-4 text-center">Initial Stock</h1>

  <div class="row justify-content-center">
    <!-- <div class="col-md-6"> -->
      <div class="col-md-6 col-xl-6 col-sm-12 col-12 bg-body card  p-3">

      <form (ngSubmit)="onSubmit()" #uploadForm="ngForm">
        <div class="form-group text-center">
          <label for="fileUpload" class="form-label fs-4 fw-bold">Upload CSV File</label>
          <div class="d-flex gap-2  align-items-center">
            <input
            type="file"
            id="fileUpload"
            class="form-control"
            #fileInput
            (change)="onFileChange($event)"
            accept=".csv"
            required
          />
          <i class="fa-solid fa-download" title="Download Sample CSV"  (click)="download()"></i>
          </div>

        </div>

        <button type="submit" class="btn btn-primary mt-3" [disabled]="!selectedFile">Upload</button>
      </form>
    </div>
  </div>
</div>
